.profil-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.profil-container img {
	width: 84px;
	margin-left: 20px;
	border-radius: 50%;
}

.profil-container span {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	margin-left: 15%;
	color: black;
}
